@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@*<h4>Kullanıcı talebiniz onaylanmak üzere işleme alınmıştır. Talebiniz onaylandığında mail ile bilgilendirileceksiniz.</h4>*@

<div class="info-box">
    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Firma Kullanıcısı Talebi</span>
        <span class="info-box-number">Kullanıcı talebiniz onaylanmak üzere işleme alınmıştır. Talebiniz onaylandığında mail ile bilgilendirileceksiniz.</span>
    </div>
</div>